@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #121212;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    /* margin: -20px 0 50px; */
}

#root {
    height: 100vh;
}